<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/bootstrap-3.4.1-dist/css/bootstrap.css">
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
    <script src="/static/css/bootstrap-3.4.1-dist/js/bootstrap.js"></script>
    <title>首页</title>
</head>
<body>
    <div class="header">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Brand</a>
              </div>
          
              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                  <li class="active"><a href="#">首页 <span class="sr-only">(current)</span></a></li>
                  <li><a href="#">直播</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">个人中心 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="#">修改头像</a></li>
                      <li><a href="#">修改密码</a></li>
                      <li role="separator" class="divider"></li>
                      <li><a href="/logout">退出登录</a></li>
                    </ul>
                  </li>
                </ul>
              </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
          </nav>
    </div>
    <div class="main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2">
                    <ul class="nav nav-pills nav-stacked nav-pills-stacked-example">
                        <li role="presentation" class="active"><a href="#">首页</a></li>
                        <li role="presentation"><a href="#">直播</a></li>
                        <li role="presentation"><a href="#">热门</a></li>
                      </ul>
                </div>
                <div class="col-md-10">
                    <div class="jumbotron">
                        <h1>专注于做哲学的网站</h1>
                        <p>欢迎:{{username}}</p>
                        <p><a class="btn btn-primary btn-lg" href="#" role="button">一起探索世界本质</a></p>
                    </div>
                    <div class="col-md-4">
                        <a href="#" class="thumbnail">
                            <img src="https://img2.baidu.com/it/u=2034732212,4126338542&fm=253&fmt=auto&app=138&f=JPEG?w=500&h=500" alt="...">
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="#" class="thumbnail">
                            <img src="https://img2.baidu.com/it/u=1480938273,1990012408&fm=253&fmt=auto&app=138&f=JPEG?w=654&h=500" alt="...">
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="#" class="thumbnail">
                            <img src="https://img1.baidu.com/it/u=3517111546,1987902963&fm=253&fmt=auto&app=120&f=JPEG?w=1200&h=800" alt="...">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>